<div class="d-flex flex-row justify-content-around align-items-center m-4">
    <img style="width:100px;height:300px;" class="m-5" src="{{image_url}}" alt="image-url"/>
    <div>
    <a href="/beers/beer-{{id}}">
        <h3>{{name}}</h3>
    </a>
    <p>{{description}}</p>
    <b>{{tagline}}</b>
    </div>
</div>